@page "/"

<PageTitle>Trek.Net</PageTitle>

<pre class="display">
Hello, world!
gxxfgfccgh
ttttt
rrrrr
yyyyy
</pre>
<button>Do stuff 01</button>
<button>Do stuff 02</button>
<button>Do stuff 03</button>
<button>Do stuff 04</button>
<button>Do stuff 05</button>
<button>Do stuff 06</button>
<button>Do stuff 07</button>
<button>Do stuff 08</button>
<button>Do stuff 09</button>
<button>Do stuff 10</button>
<button>Do stuff 11</button>
<button>Do stuff 12</button>
<button>Do stuff 13</button>
<button>Do stuff 14</button>
<button>Do stuff 15</button>
<button>Do stuff 16</button>
<button>Do stuff 17</button>


